@font-face {
  font-family: "playfair";
  src: url(../fonts/playfair.ttf) format(truetype);
}

:root {
  --color-black-gold: #e2930a;
  --color-primary: rgb(237, 237, 128);
  --padding-color: gray;
  --color-white: #ffffff;
  --border-radius: 4px;
  --color-black-red: rgb(75, 55, 55);
  --color-black : black;
  --color-gray: rgb(105, 101, 101);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  display: flex;
  align-content: center;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: center;
  color : var(--color-black-gold);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-size: xx-large;

}


.background {
  background-color: var(--color-black-red);
}


.game {
  position:absolute;
  margin-bottom: 0px;
  margin-left: -160px;
  display: flex;
  justify-content:flex-end;
  padding: 5px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
}
/*================the animatiom==============================*/
.game:hover {
  background-color: var(--color-gray);
  transition:  background-color 1000ms;
  box-shadow: 0 0 0 0 var(--color-gray) 0px 10px 10px;
  opacity: 70%;
}

.game1 {
  position: relative;
  margin-bottom: -1px;
  margin-left: -80px;
  display: flex;
  justify-content:flex-end;
  padding: 5px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
}
.game1:hover {
  background-color: var(--color-gray);
}
.game2 {

  position: relative;
  margin-bottom: -85px;
  margin-left: -120px;
  display: flex;
  justify-content:flex-end;
  padding: 5px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
}
.game2:hover {
  background-color: var(--color-gray);
}
.game4 {
  position: relative;
  margin-bottom: -85px;
  margin-left: -150px;
  display: flex;
  justify-content:flex-end;
  padding: 5px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
}
.game4:hover {
  background-color: var(--color-gray);
}

.p1 {
  position: relative;
  margin-top: 10px;
  background-color: var(--color-black-gold);
  color: var(--color-white);
  margin: 50px;
  padding: 30px;
  align-items: center;
  border-radius: 30px;
}

.p2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;

  background-color: var(--color-black-gold);
  flex-wrap: wrap;
  color: var(--color-white);
  margin: 35px;
  padding: 50px;
  align-items: center;
  display: flex;
  border-radius: 20px;
  box-shadow: var(--color-black) 20px;

}


.p3{
  display: flex;
  background-color: var(--color-black-gold);
  flex-wrap: wrap;
  color: var(--color-white);
  margin: 50px;
  padding: 20px;
  align-items: center;
  display: flex;
  border-radius: 20px;

}

@media (min-width: 600px) {
  .p {

    color: var(--color-white);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    gap: var(--gap);
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.button1 {

  display: flex;
  padding: 10px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
  padding: 30px 30px 30px;
  flex-wrap: wrap;
}

.button2 {
  padding: 10px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
  padding: 30px 30px 30px;
  flex-wrap: wrap;
}

.button3 {
  padding: 10px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
  padding: 30px 30px 30px;
  flex-wrap: wrap;
}

.button4 {
  padding: 10px;
  color: #e2930a;
  background-color:var(--color-primary);
  border-radius: 5px;
  padding: 30px 30px 30px;
  flex-wrap: wrap;
}

.foot {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  padding: 20px;
  box-shadow: var(--color-black) 20px
}

.img1 {
  position: absolute;
  margin-left: 13px;
  width: 20px;
  height: 20px;
  bottom: -40px;
}

.img2 {

  position: absolute;
  right: 100px;
  margin-top: -102px;
  order: 1;
  width: 20px;
  height: 20px;
}

.link1 {
  position: relative;
  margin-bottom: -50px;
  margin-left: -20px;
}
.link2 {
  position: relative;
  margin-bottom: -50px;
  margin-left: -35px;
}
.link3 {
  position: relative;
  margin-bottom: -80px;
  margin-left: -10px;
}
.link4 {
  position: relative;
  margin-bottom: -50px;
  margin-left: -10px;
}

.text {
  color: var(--color-white);
  margin: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.text1 {
  color: var(--color-white);
  margin: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.profile__image {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
  display: flex;
  justify-content : right;
}

.my-section{
  display: grid;
  justify-content : center;
  flex-direction: row-reverse;
  align-items : end;
  order: -1;
}

#pic {
  position: absolute;
  margin-left: 100px;
  top: 110px;
  left : -80px;
}
/*/=====================*/
.check {
  align-self: center;
  border-radius: 10px;
  padding: 20px;
}

.check:hover {
  background-color: rgb(105, 101, 101);
}

.tags{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;

}

.footer1{
  display: flex;
  justify-content : center;
}
